header {
  padding: $md-spacing;
  @include flex-center-vert;
  justify-content: space-between;

  h1 {
    @include header-style;
  }

  .basket-container {
    @include flex-center-vert;

    button {
      border: none;
      background: none;
    }

    p {
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
}

@media (min-width: 1500px) {
  header {
    margin-right: 100px;
    margin-left: 100px;
  }
}
