.shop-container {
  @include flex-center-horiz;
  flex-wrap: wrap;
  gap: $l-spacing;
  margin: $md-spacing;

  .card {
    width: 140px;

    img {
      width: 140px;
    }

    p {
      font-size: 0.875rem;
    }

    .name {
      margin-top: $xs-spacing;

      // Adds an ellipsis if the name goes over the second line
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price {
      margin-top: $s-spacing;
      margin-bottom: $xs-spacing;
      font-weight: 600;
    }

    button {
      background-color: black;
      color: white;
      border: none;
      padding: 10px 0px;
      border-radius: 16px;
      width: 100%;
    }
  }
}
