.sidebar-container {
  position: fixed;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.92) 100%);
  height: 100%;
  width: 60%;
  padding: $l-spacing;
  overflow-y: auto;

  transform: translateX(100%);
  transition: transform 700ms ease-in-out;

  h2 {
    @include header-style;
    color: white;
  }

  .close-icon {
    cursor: pointer;
    float: right;
  }

  .checkout-container {
    margin-top: $l-spacing;
    margin-bottom: $l-spacing;

    p {
      color: white;
    }

    .checkout-item {
      margin-top: $xl-spacing;
    }

    .total {
      margin-top: $l-spacing;
    }
  }

  .name-price-container {
    display: flex;
    justify-content: space-between;
    gap: $l-spacing;
  }

  .quantity-remove-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .quantity-container {
      @include flex-center-vert;
      gap: 5px;
      margin-top: $s-spacing;

      img {
        cursor: pointer;
      }
    }

    button {
      color: red;
      background-color: transparent;
      border: none;
      font-weight: 600;
      margin-top: $s-spacing;
    }
  }

  .buy-now-btn {
    border: none;
    padding: $s-spacing $xl-spacing;
    margin-bottom: $xxl-spacing;
    border-radius: 16px;
    font-weight: 600;
    transition: 300ms ease-in-out;

    .order-link {
      @include link-style;
    }
  }
  .buy-now-btn:hover {
    background-color: rgb(168, 168, 168);
  }
}

.show {
  transform: translateX(0%);
}

@media (min-width: 1200px) {
  .sidebar-container {
    width: 30%;

    .checkout-container {
      p {
        font-size: 1.2rem;
      }
    }

    .quantity-remove-container {
      .quantity-container {
        img {
          width: 20px;
        }
      }
    }
  }
}
